* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*body */
body {
    line-height: 1.6;
}

/*navbar */
.container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #bc0d1ecb;
    padding: 15px 40px;
    color: white;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap:30px;
    margin: 0 auto;
}

nav li {
    margin: 0px 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

/*section*/
section {
    padding: 60px 20px;
    text-align: center;
}

/*home*/
#Home {
    background: #9f0c0cb8;
    color: white;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;

}



#Home p {
    margin-bottom: 20px;
    font-size: 15px;
}

/*button*/

button {
    padding: 6px 14px;
    font-size: 18px;
    background: white;
    color: #0ea5e9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
  background: black;
  color: white;
}

/*about , problem , solution */

#About, #Problem, #Solution {
  background: #9a121279;
  margin: 10px;
  border-radius: 10px;
}
/* Lists */
ul {
  /*list-style-position: inside;
  padding-left : 0px;*/
  display: inline-block;
  text-align: left;
}

ul li {
  margin: 8px 0;
}

/* Contact */
#Contact {
  background: #e0f2fe;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background: #6f5050;
  color: white;
}
